@mixin menu-style(){
    list-style: none;
}

@mixin link-underline(){
    text-decoration: none;
}

@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}